/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.square {
    width: 100px;
    height: 100px;
    font-size: 90px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.board {
    width: 302px;
    display: flex;
    flex-direction: column;
}

.board > .row:nth-child(2) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.board > .row > .square:nth-child(2) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#checkers-board > .square{
    width: 75px;
    height: 75px;
}
#checkers-board > .square > .checker{
    width: 60px;
    height: 60px;
    border: solid 5px gray;
    border-radius: 35px;
    margin: 2.5px;
}

#checkers-board {
    display: grid;
    width: calc(8*75px);
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.red {
    background-color: red;
}
.black {
    background-color: black;
}

#checkers-form {
    display: block;
 }
